<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.dao.BaseUserMapper" >
  <resultMap id="BaseResultMap" type="com.smart.domain.BaseUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="default_role_code" property="defaultRoleCode" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="aware" property="aware" jdbcType="INTEGER" />
    <result column="cre_user" property="creUser" jdbcType="INTEGER" />
    <result column="cre_time" property="creTime" jdbcType="TIMESTAMP" />
    <result column="mod_user" property="modUser" jdbcType="INTEGER" />
    <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, nick_name, real_name, password, phone, email, default_role_code, address, aware, 
    cre_user, cre_time, mod_user, mod_time, del_flag
  </sql>
  <select id="selectAllUser" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from user
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_base_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_base_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smart.domain.BaseUser" >
    insert into t_base_user (id, nick_name, real_name, 
      password, phone, email, 
      default_role_code, address, aware, 
      cre_user, cre_time, mod_user, 
      mod_time, del_flag)
    values (#{id,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{defaultRoleCode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{aware,jdbcType=INTEGER}, 
      #{creUser,jdbcType=INTEGER}, #{creTime,jdbcType=TIMESTAMP}, #{modUser,jdbcType=INTEGER}, 
      #{modTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.smart.domain.BaseUser" >
    insert into t_base_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="defaultRoleCode != null" >
        default_role_code,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="aware != null" >
        aware,
      </if>
      <if test="creUser != null" >
        cre_user,
      </if>
      <if test="creTime != null" >
        cre_time,
      </if>
      <if test="modUser != null" >
        mod_user,
      </if>
      <if test="modTime != null" >
        mod_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="defaultRoleCode != null" >
        #{defaultRoleCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="aware != null" >
        #{aware,jdbcType=INTEGER},
      </if>
      <if test="creUser != null" >
        #{creUser,jdbcType=INTEGER},
      </if>
      <if test="creTime != null" >
        #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modUser != null" >
        #{modUser,jdbcType=INTEGER},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smart.domain.BaseUser" >
    update t_base_user
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="defaultRoleCode != null" >
        default_role_code = #{defaultRoleCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="aware != null" >
        aware = #{aware,jdbcType=INTEGER},
      </if>
      <if test="creUser != null" >
        cre_user = #{creUser,jdbcType=INTEGER},
      </if>
      <if test="creTime != null" >
        cre_time = #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modUser != null" >
        mod_user = #{modUser,jdbcType=INTEGER},
      </if>
      <if test="modTime != null" >
        mod_time = #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smart.domain.BaseUser" >
    update t_base_user
    set nick_name = #{nickName,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      default_role_code = #{defaultRoleCode,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      aware = #{aware,jdbcType=INTEGER},
      cre_user = #{creUser,jdbcType=INTEGER},
      cre_time = #{creTime,jdbcType=TIMESTAMP},
      mod_user = #{modUser,jdbcType=INTEGER},
      mod_time = #{modTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>